/* importing font that we need  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Tiro+Devanagari+Hindi&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh;
  width: 100vw; */
  background-color: #fbf8f1;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

  font-family: "Poppins", sans-serif;
}

.section {
  margin: 2rem;
}

.cssreel {
  margin-top: 25vh;
  margin-bottom: 35vh;
}

/* setting the font to the imported font */
.cssreel h1 {
  font-family: "Poppins", sans-serif;
  font-size: 25vmin;
  line-height: 20vmin;

  width: fit-content;
  margin: 0%;
  padding: 0%;

  display: flex;
  align-items: flex-start;
}

.gradient-text {
  color: transparent;
  background: conic-gradient(
    #d9d7f1 12%,
    #baabda 12%,
    #baabda 33%,
    #e7fbbe 33%,
    #e7fbbe 55%,
    #ffcbcb 55%,
    #ffcbcb 70%,
    #b5deff 70%,
    #b5deff 87%,
    #f7d1ba 87%
  );
  background-size: 25%;
  background-clip: text;
  /* this tells how far the background expands */
  -webkit-background-clip: text;

  animation: expand-rev 0.5s ease forwards;

  cursor: pointer;
}

.gradient-text:hover {
  animation: expand 0.5s ease forwards;
}

@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 3250%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 3250%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}

.intro h1 {
  font-family: "Tiro Devanagari Hindi", serif;
  font-size: 5rem;
}
.intro p {
  padding: 2rem;
}

.languagesDisplay {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  color: grey;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  align-items: center;
  justify-content: center;
}
.nav-link {
  cursor: pointer;
}

.lang_subdisplay {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.languageDescription {
  display: flex;
  flex-direction: column;
}
/* .languageDescription p {
  display: block;
  width: 50%;
  margin: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
} */
.subheading p {
  display: block;
  width: 50%;
  margin: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
}
.subheading h3 {
  font-size: 3rem;
}
.alternate h3 {
  display: flex;
  justify-content: end;
}
.subcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1 rem;
  justify-content: center;
  /* width: 50%; */
  margin: 2rem 25%;
}
.subcontent img {
  display: block;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contactsSection {
  margin-top: 2 rem;
  margin-bottom: 2rem;
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts {
  padding: 0rem 1rem;
  cursor: pointer;
}
